@tailwind base;
@tailwind components;

.tooltip {
    @apply invisible absolute top-0 left-0;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

.has-tooltip{
   @apply py-10 relative;
}

@tailwind utilities;
